<html lang='en'>

<head>
    <meta charset='utf-8'>
    <link rel='stylesheet' href='../static/style.css'>
    <script src='../static/client.js'></script>
</head>

<body>
    <div>
        <div class='center'>
            <div class='title'>Which wild cat is in your image?</div>
            <div class='content'>
                <p>
                    Upload an image containing either caracal, cheetah, clouded leopard, cougar, jaguar, jungle cat,
                    leopard, lion, lynx, serval,
                    snow leopard, sunda clouded leopard or tiger to find out which one of these it is.
                </p>
                <div class='no-display'>
                    <input id='file-input' class='no-display' type='file' name='file' accept='image/*' onchange='showPicked(this)'>
                </div>
                <p><button class='choose-file-button' type='button' onclick='showPicker()'>Upload an image</button></p>
                <div class='upload-label'>
                    <label id='upload-label'>No file chosen</label>
                </div>
                <div>
                    <img id='image-picked' class='no-display' alt='Chosen Image' height='200'>
                </div>
                <div class='analyze'>
                    <button id='analyze-button' class='analyze-button' type='button' onclick='analyze()'>Analyze</button>
                </div>
                <div>
                    <p><input type='url' name='url' id='url-input'>
                        <button class='analyze-button' id='url-button' type='button' onclick='analyzeUrl()'>Or fetch
                            and analyze url</button></p>
                </div>
                <div class='result-label'>
                    <label id='best-result-label'></label>
                    <label id='best-confidence-label'></label><br>
                    <label id='second-result-label'></label>
                    <label id='second-confidence-label'></label>
                    <label id='third-result-label'></label>
                    <label id='third-confidence-label'></label>
                </div>
            </div>
        </div>
    </div>
</body>

</html>